{% extends 'base.html' %}
{% block content %}
<h1>
    Profile
</h1>
<div>
    <div class="user-info">
        <h2>Welcome, {{ user_profile.username }}</h2>
        <img src="{{ user_profile.profile.avatar.url }}" alt="{{ user_profile.first_name }}" style="width:80px; height:80px; object-fit:cover; border-radius:80px;">
        <p><strong>First name:</strong> {{ request.user.first_name }}</p>
        <p><strong>Last name:</strong> {{ request.user.last_name }}</p>
        <p><strong>Email:</strong> {{ request.user.email }}</p>
        <strong>API_Key:</strong> <br>
        <textarea id = 'tokenText' readonly cols="50" rows="5"> {{ request.user.profile.api_token }}</textarea>
        <div class="nav-item">
            <button onclick="copyToken()" style="padding:10px; border: 2px solid black; border-radius: 10px;">Copy Token</button>
        <a href="javascript:{document.querySelector('#Generate_API_Key').submit()}" style="padding: 12px; border: 2px solid black; border-radius: 10px; text-decoration: None;">Generate New Api Key</a>
        <form id="Generate_API_Key" action="{% url 'generate_api_key' %}" method="post">
            {% csrf_token %}
            <input type="hidden">
        </form>
    </div>
    </div>
</div>
<script>
    function copyToken(){
    var copyText = document.getElementById('tokenText');
    copyText.select();
    document.execCommand('copy');
    }
</script>
{% endblock %}