{% extends 'base.html' %}
{% load static %} #loads static files
{% block content %}
<body>
<div class="container mt-5">
    <!--    container mt-5 boostrap classes for styling-->
    <h1 class="text-center mb-5"> Plant Home </h1> #displays heading
    <div class="row">
        <!-- div is used to contain parts of content of webpage  -->
        {% if data %}
        {% for plant in plants %}
        <div class="col-12 mt-3">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="card-title">{{plant.name}}</h2>
                </div>
                <div class="card-body d-flex flex-column">
                    <!-- Image and Chart Row -->
                    <div class="row flex-grow-1">
                        <!-- Plant Image Column -->
                        <div class="col-md-4 col-sm-12 mb-3">
                            <!-- Stack on small screens, side-by-side on medium and up -->
                            <img src="{{ plant.photo.url }}" alt="{{ plant.name }}" class="img-fluid">
                            <!-- Ensure image is responsive -->
                        </div>
                        <!-- Chart Column -->
                        <div class="col-md-8 col-sm-12 d-flex flex-column">
                            <!-- Stack on small screens, side-by-side on medium and up -->
                            <div class="chart-container flex-grow-1">
                                <canvas id="myChart{{plant.id}}"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- More Info Button Positioned to the Bottom Right -->

                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addSensorModal{{plant.id}}">Add Sensor
                            <!--            data-bs-toggle targets id given to render                -->
                        </button>
                        <!-- Use d-flex and justify-content-end to push button to the right -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{plant.id}}">More Info
                            <!--            data-bs-toggle targets id given to render                -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Dialog for Each Plant -->

        <div class="modal fade" id="addSensorModal{{plant.id}}" tabindex="1" aria-labelledby="addSensorModalLabel"
             aria-hidden="true">
            <!-- tabindex = -1 prevents this div from being displayed -->
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="plant-info">
                            <form action="{% url 'add_sensor' plant.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="sensor_pin">Sensor Pin:</label>
                                    <input type="text" id="sensor_pin" name="sensor_pin">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="sensor_type" name="sensor_type" value="0">
                                </div>
                                <div class="modal-footer">
                                    <button>ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal{{plant.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <!-- tabindex = -1 prevents this div from being displayed -->
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{plant.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="plant-info">
                            <div class="plant-img">
                                <img src="{{ plant.photo.url }}">
                            </div>
                            <form action="{% url 'update_plant_c' plant.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="ec{{plant.id}}">EC:</label>
                                    <input type="text" class="form-control" name="ec" id="ec{{plant.id}}"
                                           value="{{plant.ec}}">
                                </div>
                                <div class="form-group">
                                    <label for="ph{{plant.id}}">PH:</label>
                                    <input type="text" class="form-control" name="ph" id="ph{{plant.id}}"
                                           value="{{plant.ph}}">
                                </div>
                                <div class="form-group">
                                    <label for="nitrogen{{plant.id}}">Nitrogen:</label>
                                    <input type="text" class="form-control" name="nitrogen"
                                           id="nitrogen{{plant.id}}"
                                           value="{{plant.nitrogen}}">
                                </div>
                                <div class="form-group">
                                    <label for="phosphorus{{plant.id}}">Phosphorus:</label>
                                    <input type="text" class="form-control" name="phosphorus"
                                           id="phosphorus{{plant.id}}"
                                           value="{{plant.phosphorus}}">
                                </div>
                                <div class="form-group">
                                    <label for="potassium{{plant.id}}">Potassium:</label>
                                    <input type="text" class="form-control" name="potassium"
                                           id="potassium{{plant.id}}"
                                           value="{{plant.potassium}}">
                                </div>
                                <div class="form-group">
                                    <label for="temperature{{plant.id}}">Temperature:</label>
                                    <input type="text" class="form-control" name="temperature"
                                           id="temperature{{plant.id}}" value="{{plant.temperature}}">
                                </div>
                                <div class="form-group">
                                    <label for="ideal_moisture{{plant.id}}">Moisture:</label>
                                    <input type="text" class="form-control" name="ideal_moisture"
                                           id="ideal_moisture{{plant.id}}" value="{{plant.ideal_moisture}}">
                                </div>
                                <div class="form-group">
                                    <label for="fertilizer{{plant.id}}">Fertilizer:</label>
                                    <input type="text" class="form-control" name="fertilizer"
                                           id="fertilizer{{plant.id}}" value="{{plant.fertilizer}}">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="saveButton{{plant.id}}">Save
                                    </button>
                                    <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#confirmDelete{{plant.id}}" type="button">Del Plant
                                    </button>
                                    <div class="modal fade" id="confirmDelete{{plant.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm Delete!!!</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body"><p>Are You Sure???</p></div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="submit" style="padding:0;"
                                                            class="btn btn-primary"><a
                                                            class="btn btn-primary"
                                                            style="text-decoration:none; color:white;"
                                                            href="{% url 'delete_plant' plant.id %}">Delete</a>
                                                    </button>
                            </form>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:58vw;" class="row">
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_temp' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_ec' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_nitrogen' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_phosphorus' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_potassium' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div style="overflow:auto;">
                {% for k, v in plotly_plots.items %}
                    {% if k == plant.name %}
                        {% for key, val in v.items %}
                            {% if key == 'm_ph' %}
                                {% autoescape off %}
                                {{ val }}
                                {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
{% endfor %}
{% endif %}

<div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#AddPlantModal{{plant.id}}" style="margin-top:10px; padding:10px;">Add Plant
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#addNPKSensorModal" style="margin-top:10px; padding:10px; margin-left:10px;">Add Sensor
        <!--            data-bs-toggle targets id given to render                -->
    </button>
</div>
        <div class="modal fade" id="addNPKSensorModal" tabindex="1" aria-labelledby="addNPKSensorModalLabel"
             aria-hidden="true">
            <!-- tabindex = -1 prevents this div from being displayed -->
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="plant-info">
                            <form action="{% url 'add_sensor' 1 %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="sensor_pin">Sensor Pin:</label>
                                    <input type="text" id="sensor_pin" name="sensor_pin">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="sensor_type" name="sensor_type" value="1">
                                </div>
                                <div class="modal-footer">
                                    <button>ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="modal fade" id="AddPlantModal{{plant.id}}" tabindex="-1" aria-labelledby="AddPlantModalLabel"
     aria-hidden="true">
    <!-- tabindex = -1 prevents this div from being displayed -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddPlantModalLabel">Add Plant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="plant-info">
                    <form action='{% url "add_plant" %}' method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="plant_name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="photo">Picture:</label>
                            <input type="file" required class="form-control" name="plant_pic" id="photo">
                        </div>
                        <div class="form-group">
                            <label for="ec">EC:</label>
                            <input type="text" class="form-control" name="ec" id="ec"
                                   value="{{plant.ec}}">
                        </div>
                        <div class="form-group">
                            <label for="ph{{plant.id}}">PH:</label>
                            <input type="text" class="form-control" name="ph" id="ph"
                                   value="{{plant.ph}}">
                        </div>
                        <div class="form-group">
                            <label for="nitrogen{{plant.id}}">Nitrogen:</label>
                            <input type="text" class="form-control" name="nitrogen" id="nitrogen{{plant.id}}"
                                   value="{{plant.nitrogen}}">
                        </div>
                        <div class="form-group">
                            <label for="phosphorus{{plant.id}}">Phosphorus:</label>
                            <input type="text" class="form-control" name="phosphorus" id="phosphorus{{plant.id}}"
                                   value="{{plant.phosphorus}}">
                        </div>
                        <div class="form-group">
                            <label for="potassium{{plant.id}}">Potassium:</label>
                            <input type="text" class="form-control" name="potassium" id="potassium{{plant.id}}"
                                   value="{{plant.potassium}}">
                        </div>
                        <div class="form-group">
                            <label for="temperature{{plant.id}}">Temperature:</label>
                            <input type="text" class="form-control" name="temperature"
                                   id="temperature" value="{{plant.temperature}}">
                        </div>
                        <div class="form-group">
                            <label for="ideal_moisture{{plant.id}}">Moisture:</label>
                            <input type="text" class="form-control" name="ideal_moisture"
                                   id="ideal_moisture" value="{{plant.ideal_moisture}}">
                        </div>
                        <div class="form-group">
                            <label for="fertilizer{{plant.id}}">Fertilizer:</label>
                            <input type="text" class="form-control" name="fertilizer"
                                   id="fertilizer" value="{{plant.fertilizer}}">
                        </div>
                        <div class="form-group">
                            <label for="plant_coefficient">Plant Coefficient:</label>
                            <input type="text" class="form-control" name="plant_coefficient"
                                   id="plant_coefficient" value="{{plant.plant_coefficient}}">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="saveButton">Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</div>
                  {% autoescape off %}
                  {{ plotly_plots.potato.m_temp }}
                  {% endautoescape %}
</div>

<script>
      var data = JSON.parse('{{ data | safe }}');
      var detail_data = JSON.parse('{{ detail_data | safe }}');

      var charts = {};
      // Converts a timestamp to hours
      function toHours(timestamp) {
      var date = new Date(timestamp);
      var hours = date.getHours();
      var remaining_hours = 23 - hours;
      var remaining_minutes = 60 - date.getMinutes();
      if (remaining_minutes === 60){
      remaining_hours += 1;
       remaining_minutes = 0;}
      var formattedTime = '-' + remaining_hours + ':' + remaining_minutes;
      return formattedTime;
      }
      // Converts a timestamp to day
      function getDay(timestamp) {
      var date = new Date(timestamp);
      var day = date.getDate();  // Returns the day of the month
      var month = date.getMonth() + 1;  // Returns the month (0 is January, so we must add 1)
      var year = date.getFullYear();  // Returns the year
      return `${year}-${month < 10 ? '0' + month : month}-${day < 10 ? '0' + day : day}`;
      }
      function drawChart(canvasId, plantName, label, data_x,dataset) {
          console.log(plantName, data_x, dataset);
          var lastTimeStamp = data_x[data_x.length - 1];
          var dayOfLastEntry = getDay(lastTimeStamp);
          var ctx = document.getElementById(canvasId).getContext('2d');
          if(charts[canvasId]) {  // If chart exists for the given canvasId, destroy it
              charts[canvasId].destroy();
          }
          charts[canvasId] = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: data_x.map(toHours), // x-values (timestamps)
                  datasets: [{
                      label: `${label} (${dayOfLastEntry})`,
                      data: dataset, // y-values (moisture)
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgba(255, 99, 132, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: true,
                  maintainAspectRatio: true,
                  scales: {
                      y: {
                          beginAtZero: true
                      },
                      x:{
                          beginAtZero: true
                      }
                  }
              }
          });
      }

      // For Each Plant
      {% for plant in plants %}
      console.log(data['{{ plant.name }}'].m_moist);
          // For Home Page Chart
          drawChart('myChart{{plant.id}}', '{{plant.name}}', 'Moisture',data['{{ plant.name }}'].date_time, data['{{ plant.name }}'].m_moist);

<!--          // Modal 'show' Event-->
<!--          var myModalEl = document.getElementById('exampleModal{{plant.id}}');-->
<!--          myModalEl.addEventListener('show.bs.modal', function (e) {-->
<!--              // For Detailed Info Page Charts-->
<!--              drawChart('detailChartTemp{{plant.id}}', '{{plant.name}}', 'Temperature',detail_data['{{ plant.name }}'].date_time, detail_data['{{ plant.name }}'].m_temp);-->
<!--              drawChart('detailChartEC{{plant.id}}', '{{plant.name}}', 'EC', detail_data['{{ plant.name }}'].date_time,detail_data['{{ plant.name }}'].m_ec);-->
<!--              drawChart('detailChartNitrogen{{plant.id}}', '{{plant.name}}', 'Nitrogen', detail_data['{{ plant.name }}'].date_time,detail_data['{{ plant.name }}'].m_nitrogen);-->
<!--              drawChart('detailChartPhosphorus{{plant.id}}', '{{plant.name}}', 'Phosphorus', detail_data['{{ plant.name }}'].date_time,detail_data['{{ plant.name }}'].m_phosphorus);-->
<!--              drawChart('detailChartPotassium{{plant.id}}', '{{plant.name}}', 'Potassium', detail_data['{{ plant.name }}'].date_time,detail_data['{{ plant.name }}'].m_potassium);-->
<!--              drawChart('detailChartPH{{plant.id}}', '{{plant.name}}', 'pH', detail_data['{{ plant.name }}'].date_time,detail_data['{{ plant.name }}'].m_ph);-->
<!--          });-->
      {% endfor %}




</script>
{% endblock %}