/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252323;
    color: #fff;
    padding: .25em;
}

.navbar-brand {
    font-size: 1.5em;
    font-family: 'Varela Round';
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 1em;
}

.nav-link {
    color: #BB7D3C;
    text-decoration: none;
}

.nav-link:hover {
    color: #ddd;
}
.nav-brand img {
 width: 75px; /* Change this as needed */
 vertical-align: middle; margin-right: 10px;
 }

footer{
text-align: center;
padding: 20px;
margin: 20px;
display:block;
}

.posts {
display: flex;
flex-wrap: wrap;
margin-top:20px;
}

.post {
flex-basis: calc(20%-10px);
margin: 10px;
width: 275px;
border: 1px solid blue;
padding: 10px;

}

.post h2{
margin: 10px;
}

.post img{
height: auto;
width: 100%;
object-width: cover;
margin-top:10px;
margin-bottom:10px;
}

.reg-form{
padding: 50px 550px;
background-color: light-grey;
border-radius: 5px;
}

.form-row{
margin: 10px;
padding: 10px;

}

.form-row label{
margin-right: 20px;

}

.reg-form form{
display:inline-block;

}

.dashboard {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.user-info {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 20px;
}

.user-info h2 {
    margin-top: 0;
}

.user-info p {
    margin-bottom: 0.5em;
}

.form-field {
    background-color: #FFF8F1;
    padding: 2px;
    margin: 10px;
}

.form-button{
text-align: center;
}

form button {
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;

}

.messages {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert.info {
    background-color: #d9edf7;
    color: #31708f;
}

.alert.error {
    background-color: #f2dede;
    color: #a94442;
}

.alert.success {
    background-color: #FFF8F1;
    color: #3c763d;
}

.alert.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.comment_text {
height:100px;
width:280px;
}

.like {
width:20px;
}

/* HomePage CSS */
/* styles.css */
h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

h4 {
  color: #666;
  font-size: 16px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

body {
  background-color: #f0f0f0;
}

.img_div {
  width: 100%;
  margin: 0;
  padding: 0;
}

.plant-row {
display: flex;
padding: 20px;
justify-content: space-around;
}

.plant-div{
flex: 1 0 30%;
margin:10px;
padding:10px;
border:1px solid blue;
}

/* New CSS rule for the chart */
.chart-container {
    max-width: 200px;
    max-height: 200px; /* Or whatever height you want */
}

.logo {
    background-image: url({{ profile.logo.url }});
    background-size: cover; /* this will scale the image to the size of the div */
    height: 100px; /* adjust this to the height you want */
    width: 100px; /* adjust this to the width you want */
    display: inline-block;
}

.plant-img img {
height: 400px;
width: 400px;
}

.plant-img {
flex: 1;
max-width:200px;
}

.plant-info {
display: flex;
flex-direction: row;
align-items: start;
justify-content: space-around;
}

.plant-info form {
max-width:200px;
flex:1;

}

