<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Beans Blog</title>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle with Popper JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:#252323;font-family:Varela Round;" text="#BB7D3C">
{% include 'partials/navbar.html' %}
{% block content %}

{% endblock %}
{% include 'partials/footer.html' %}
</body>
</html>
